@charset "utf-8";


/* custom cursor 시작 */
.custom_cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: var(--point-col);
  border-radius: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  transition: transform .3s;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  font-size: 0.1rem;
  display: none;
}

.custom_cursor::after {
  content: 'Click me';
  color: #fff;
  display: none;
}

.custom_cursor.on {
  transform: translate(-50%, -50%) scale(12);
  padding-top: 0.65px;
}

.custom_cursor.on::after {
  display: block;
}

/* custom cursor 끝 */



/* Works 시작 */
.works {
  /* mix-blend-mode: difference; */
  color: #fff;
  overflow: hidden;

  width: 100%;
  height: 480vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.works .bg_txt {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14rem;
  color: var(--black1-col);
  font-family: var(--en-p-font);
  font-style: italic;
  font-weight: 700;
  width: 100%;
  padding-top: 55%;
}


.w_text {
  padding-top: 380px;
  cursor: default;
}

.w_text h4 {
  mix-blend-mode: difference;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 300;
  text-align: center;
  font-family: var(--kr-h-font);
}

.w_text h2 {
  mix-blend-mode: difference;

  font-size: 14rem;
  line-height: 14rem;
  font-weight: 800;
  text-align: center;
  padding-top: 40px;
  font-family: var(--en-p-font);

}

.circle {
  background-color: var(--white1-col);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 2%;
}

/* rotating images */
.works .row_1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
}

.works .row_2 {
  width: 85%;
  display: flex;
}

.works .row_3 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: -150px;
}

#works .row_4 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 50px;
}

.works .row_5 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}


.works article a {
  position: relative;
  display: block;
  flex-basis: 50%;
  clip-path: inset(10% 10% 10% 10%);
  text-align: center;
  transition: transform 0.5s ease-in-out;
  cursor: none;
}

.clip .title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
}


.title>h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-family: var(--en-h-font);
  font-style: italic;

}

.title>h4 {
  padding-top: 10px;
  font-size: 2.2rem;
  line-height: 3rem;
  font-family: var(--en-p-font);

}

.clip img {
  height: auto;
  object-fit: cover;
}

/* Works 끝 */


/* etc works 시작 */
.etc_wrap {
  width: 100%;
  height: 100vh;
  background: var(--black1-col);
  overflow: hidden;
  position: relative;
}

.etc_title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.etc_title>h2 {
  font-size: 6rem;
  line-height: 8rem;
  text-align: center;
  font-family: var(--en-h-font);
  font-style: italic;
  color: var(--point-col);
}

.modal {
  width: 500px;
  height: 300px;
  position: fixed;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  z-index: 100;
  justify-content: center;
  overflow: hidden;
  display: none;
}

.modal.on {
  display: flex;
}

.wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slider_section {
  height: 32vh;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.wheel {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300%;
  height: 300vw;
  max-width: 2000px;
  max-height: 2000px;
}


.wheel_card {
  position: absolute;
  top: 0;
  left: 0;
  width: 8.5%;
  max-width: 200px;
  aspect-ratio: 1 /1;
  cursor: pointer;
}

.wheel_card .plus {
  position: absolute;
  top: 50%; /* 세로 가운데 정렬 */
  left: 50%; /* 가로 가운데 정렬 */
  border: 1px solid #000;
  border-radius: 50%;
  transform: translate(-50%, -50%); /* 정확히 가운데 배치 */
  font-size: 2.5rem;
  font-weight: 100;
  color: #000;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.3s ease; /* 호버 시 부드럽게 나타나도록 */
  width: 50px;
  height: 50px;
}

.wheel_card .plus p{
  text-align: center;
}

.wheel_card:hover .plus {
  opacity: 0; /* hover 시 텍스트가 나타남 */
}


.wheel_card img {
  width: 100%;
  pointer-events: none;
  z-index: 999;
  cursor: pointer;
  transform: rotate(180deg);
  filter: grayscale(1);
  transition: all .2s ease-in-out;
}

.wheel_card:hover img {
  filter: grayscale(0);
}

/* etc works 끝 */